

/* import mixins */
@import "mixins";

.992up() { 
	
	.increase {
		font-size: 125%;
	}
	
	.hidden {
		display:none !important; 
	}
	
	#container {
		padding-top: 145px;		
		margin-bottom: -80px;
		
		&.moved{
			margin-bottom: -80px;	
		}		
	}
	
	#header {
		position: fixed;
		z-index: 100000;
		background-color: @white;
		
		&.moved{
			.boxShadow(0, 2px, 2px);	
		}
	}

  #logo {
    margin-left: .5em;
	}

  #language {
    position: relative;
    float: right;
    z-index: 1;
    top: 97px;
    right: 0;
		margin: 0 0 0 auto;
    height: 43px;
    border-left: solid 1px @secondaryColor;

    & span {
		  padding: 0 .75em 0 .75em;
      width: 48px;
			font-size: 1.125em;
		  line-height: 43px;
    }
  }

  #search-box {
    margin-right: -50px;
  }
	
	#navigation { 	
    max-width: 90%;

		& .menu {
			& .nav_menu {
					
				& .menu_item {
          display: block;
				
					& a {
						margin: 0 auto 0 auto;
						padding: 0 .75em 0 .75em;
						font-size: 1.125em;
					}
								
					&:last-child, &:last-child a {			
						margin-right: 0;
					}
				}
			}
		}
	}
	
	#banner {
    height: 624px;

    & .banner_item {
      height: 624px;

      & .banner_content {
        margin-top: 424px;
        padding: 1.5em;
        width: 50%;

        & p {
          margin: 0 0 1em 0;
          padding: 0;

          & a.more {
            padding: 10px 1em .875em 1.5em;
          }
        }
      }
    }
  }

  #footer-navigation {
    & .menu_item {
      margin-right: 2%;
      padding-bottom: 1em;
      width: 18%;

      &.menu_item_has_children {
        min-height: 240px;
      }

      & a {
        font-size: 14/16em;

        &:hover {
          color: @baseColor;
        }
      }

      & .sub_menu {
        display: block;
        min-height: 0;
      }
    }
  }

} /* end of the function (DO NOT DELETE) */